@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body{
   font-family: 'Poppins', sans-serif;
}

.list-elements{
  display: flex;
  flex-direction: row;
  /* width: 90vw; */
}


.filter-type{
  display: flex;
  justify-content: center;
}